nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #923f3f;
  width: 100%;
}

p {
  display: flex;
  flex-direction: row;
  color: white;
  margin: 0;
}

button {
  background-color: #6e2e2e;
  color: white;
  border: none;
  cursor: pointer;
  padding: 1rem;
}
