nav {
  font-weight: bold;
  background-color: #923f3f;
  width: 100%;
}

nav div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav button {
  color: white;
  background-color: #602c2c;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  &:hover {
    background-color: #552c2c;
  }
}

nav p {
  list-style-type: none;
  color: white;
  padding: 0.5rem;
}
